footer {
  background-color: $darkestColor;
  color: #ffffff;
  text-align: right;
  padding: 1rem 1rem;
  a {
    color: #ffffff;
    position: relative;
  }
  a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: $accentColor;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
  }
  a:hover:before {
    visibility: visible;
    width: 100%;
  }
  a:focus:before {
    visibility: visible;
    width: 100%;
  }
  li {
    margin-top: 1rem;
  }
  nav {
    display: none;
    display: inline-block;
    padding-bottom: 2rem;
    li {
      margin: 0 auto;
    }
    li:last-child a {
      margin: 0 auto;
    }
    a {
      color: #ffffff;
      font-size: 1.75rem;
      margin: 0 1rem 0 0;
    }
  }
}
