header {
  height: 70vh;
  min-height: 800px;
  padding: 1rem 0 1rem 0;
}

nav {
  ul {
    display: flex;
    justify-content: flex-end;
    a {
      margin: 2rem 0 0 2rem;
      position: relative;
      top: 2rem;
    }
    a:before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: $accentColor;
      visibility: hidden;
      transition: all 0.4s ease-in-out;
    }
    a:hover:before {
      visibility: visible;
      width: 100%;
    }
    a:focus:before {
      visibility: visible;
      width: 100%;
    }
  }
}

.titleAndPhoto {
  display: grid;
  margin-top: 8rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.photoSVG {
  position: relative;
  min-height: 500px;
  img {
    position: absolute;
    bottom: 50px;
    border-radius: 20em;
  }
  svg {
    position: absolute;
    bottom: 50px;
  }
}

.headerStuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 70vh;
  a {
    position: relative;
    top: 2rem;
    color: #ffffff;
    background: linear-gradient(to right, $darkestColor 50%, $accentColor 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    padding: 1rem;
    width: 40%;
    text-align: center;
    border-radius: 0.15em;
    transition: all 0.4s ease-in-out;
  }
  a:hover,
  a:focus {
    background-position: left bottom;
  }
}
