main {
  padding: 1rem 0;
  h2 {
    margin-bottom: 4rem;
  }
}

.section1 {
  margin-bottom: 10rem;
  a {
    position: relative;
  }
  a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -30px;
    left: 0;
    background-color: $accentColor;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
  }
  a:hover:before {
    visibility: visible;
    width: 100%;
  }
  a:focus:before {
    visibility: visible;
    width: 100%;
  }
  ul {
    *:first-child a::before {
      bottom: -5px;
    }
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-gap: 4rem;
    li {
      text-align: center;
      font-weight: 600;
      figure {
        margin: 0 auto;
      }
      img {
        width: 100%;
        height: 100%;
        transition: box-shadow 0.3s;
        margin-bottom: 2rem;
      }
      img:hover,
      img:focus {
        box-shadow: 20px 20px 20px $boxShadow;
      }
    }
  }
}

.section2 {
  margin-bottom: 5rem;
  h2 {
    margin-bottom: 5rem;
  }
  h3 {
    font-weight: 600;
    margin-bottom: 2rem;
  }
  h4 {
    font-weight: 600;
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 4rem;
  }
  a {
    color: $linkColor;
    transition: color 0.3s;
  }
  a:hover,
  a:focus {
    color: gray;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-gap: 2rem;
    li {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    img,
    i {
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.75rem;
    }
  }
}

.section3 {
  margin-bottom: 5rem;
  h2 {
    margin-bottom: 5rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    label {
      display: none;
    }
    input[type="text"],
    input[type="email"],
    #message {
      border: 0px solid $darkestColor;
      border-bottom: 1px solid $darkestColor !important;
      background-color: $backgroundColor;
      box-shadow: none !important;
      padding: 6px 12px;
    }
    .nameEmailSubject {
      display: grid;
      width: 100%;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      margin-bottom: 2rem;
    }
    #message {
      width: 100%;
      margin-bottom: 2rem;
    }
    input[type="submit"] {
      padding: 6px 12px;
      color: #ffffff;
      position: relative;
      border: 0px solid $accentColor;
      cursor: pointer;
      background: linear-gradient(
        to right,
        $darkestColor 50%,
        $accentColor 50%
      );
      background-size: 200% 100%;
      background-position: right bottom;
      box-shadow: 1px 2px 2px $boxShadow;
      border-radius: 0.15em;
      transition: all 0.4s ease-in-out;
    }
    input[type="submit"]:hover,
    input[type="submit"]:focus {
      background-position: left bottom;
    }
    input[type="submit"]:active {
      top: 1px;
    }
  }
}

.projectDescription {
  a {
    color: $linkColor;
    transition: color 0.3s;
  }
  a:hover,
  a:focus {
    color: gray;
  }
  h3 {
    margin: 2rem 0;
    font-weight: 600;
  }
  p {
    line-height: 1.3;
  }
}

.projectLinks {
  margin-bottom: 5rem;
  figure {
    margin: 0 auto;
    font-weight: 600;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3rem;
  }
  img {
    width: 100%;
    height: 100%;
    transition: box-shadow 0.3s;
    margin-bottom: 2rem;
  }
  img:hover,
  img:focus {
    box-shadow: 20px 20px 20px $boxShadow;
  }
}
