@media (max-width: 900px) {
  .headerStuff {
    a {
      width: 40% !important;
    }
  }
}

@media (max-width: 725px) {
  .titleAndPhoto {
    margin-top: 0;
  }
}

@media (max-width: 685px) {
  .headerStuff {
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
  }
}

@media (max-width: 680px) {
  body {
    text-align: center;
  }

  .mainHeader {
    img {
      left: 0;
    }
  }

  svg {
    left: 0;
  }

  .headerStuff {
    text-align: left;
    a {
      width: 60% !important;
    }
  }

  .projectHeaderStuff {
    justify-content: center;
    align-items: center;
  }

  .section2 {
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        align-self: center;
      }
    }
  }
}

@media (max-width: 600px) {
  .photoSVG {
    height: 600px;
  }
}

@media (max-width: 600px) {
  .menuDiv {
    text-align: right;
    i {
      position: fixed;
      top: 20px;
      right: 20px;
      font-size: 5rem;
      color: $darkestColor;
      z-index: 4;
      cursor: pointer;
      text-shadow: 1px 1px 2px rgba(39, 35, 35, 0.664);
      transition: all 0.3s;
    }
    i:hover,
    i:focus {
      color: $accentColor;
    }
    i:active {
      font-size: 5.2rem;
    }
  }
  .menuButton {
    display: inline-block !important;
  }
  header nav {
    display: none;
  }
  footer nav {
    display: inline-block !important;
  }
}

@media (max-width: 500px) {
  .photoSVG {
    height: 500px;
  }
}

@media (max-width: 400px) {
  .photoSVG {
    height: 450px;
  }
  .projectHeader {
    img {
      max-height: 550px;
      align-self: center;
    }
  }
  footer {
    text-align: center;
  }
}
