@media (max-width: 900px) {
  .headerStuff {
    a {
      width: 40% !important;
    }
  }
}

@media (max-width: 725px) {
  .mainHeader {
    height: 50vh;
  }
  .titleAndPhoto {
    margin-top: 0;
  }
}

@media (max-width: 685px) {
  .headerStuff {
    justify-content: flex-start;
    margin-top: 6rem;
  }
  .titleAndPhoto {
    height: 900px;
  }
}

@media (max-width: 680px) {
  body {
    text-align: center;
  }

  svg {
    left: 0;
  }

  .headerStuff {
    text-align: left;
    a {
      width: 60% !important;
    }
  }

  .projectHeaderStuff {
    justify-content: center;
    align-items: center;
  }

  .section2 {
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        align-self: center;
      }
    }
  }
}

@media (max-width: 600px) {
  header nav ul {
    justify-content: center;
    font-size: 1.75rem;
  }
  header nav li:first-child a {
    margin: 0 auto;
  }
  footer nav {
    display: inline-block !important;
  }
}

@media (max-width: 550px) {
  .projectHeader {
    img {
      max-height: 600px;
    }
  }
}

@media (max-width: 400px) {
  .projectHeader {
    img {
      max-height: 550px;
      align-self: center;
    }
  }
  footer {
    text-align: center;
  }
}
