html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: Helvetica Neue;
  font-style: normal;
  line-height: 1.1;
  font-size: 2.2rem;
  font-weight: 400;
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.85);
}

/* wrapper styles */
.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.formWrapper {
  width: 95%;
  margin: 0 auto;
}

.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

h1 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.section2 li img {
  width: 75px;
  height: 75px;
}

.section2 li i {
  font-size: 75px;
}

h2 {
  font-weight: 600;
}

.sideList {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #ffc0cb;
  opacity: 95%;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
          box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
  border-radius: 0.5em;
}

.sideListOpen {
  width: 250px !important;
}

.menuButtonOpen {
  margin-right: 175px !important;
}

.navList {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: right;
}

.navList a {
  margin: 2rem 0 0 2rem;
  position: relative;
  font-size: 3rem;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.navList a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navList a:hover,
.navList a:focus {
  color: #ffffff;
}

.navList a:hover:before {
  visibility: visible;
  width: 100%;
}

.navList a:focus:before {
  visibility: visible;
  width: 100%;
}

.divHider {
  display: none;
}

.divider {
  font-size: 3rem;
  cursor: default;
}

.listItem {
  padding: 2rem;
  color: rgba(0, 0, 0, 0.85);
  margin: 0 0.5rem 1rem 0.5rem;
}

header {
  padding: 1rem 0 1rem 0;
}

header img {
  display: inline-block;
}

header .menuButton {
  display: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul a {
  margin: 2rem 0 0 2rem;
  position: relative;
  top: 2rem;
}

nav ul a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffc0cb;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav ul a:hover:before {
  visibility: visible;
  width: 100%;
}

nav ul a:focus:before {
  visibility: visible;
  width: 100%;
}

.titleAndPhoto {
  display: -ms-grid;
  display: grid;
  margin-top: 6rem;
  -ms-grid-columns: (minmax(275px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

.photoSVG {
  position: relative;
  height: 650px;
}

.photoSVG img {
  position: absolute;
  bottom: 50px;
  border-radius: 50%;
}

.photoSVG svg {
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.headerStuff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.headerStuff a {
  position: relative;
  top: 2rem;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0, 0, 0, 0.85)), color-stop(50%, #ffc0cb));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.85) 50%, #ffc0cb 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  padding: 1rem;
  width: 40%;
  text-align: center;
  border-radius: 0.15em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.headerStuff a:hover,
.headerStuff a:focus {
  background-position: left bottom;
}

.projectHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectHeader h1 {
  margin: 8rem 0 2rem 0;
}

.projectHeader img {
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.85);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.85);
  max-height: 700px;
}

main {
  padding: 1rem 0;
}

main h2 {
  margin-bottom: 4rem;
}

.section1 {
  margin-bottom: 10rem;
}

.section1 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(275px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 4rem;
}

.section1 ul li {
  text-align: center;
  font-weight: 600;
}

.section1 ul li figure {
  margin: 0 auto;
}

.section1 ul li img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  margin-bottom: 2rem;
}

.section1 ul li img:hover,
.section1 ul li img:focus {
  -webkit-box-shadow: 20px 20px 20px rgba(39, 35, 35, 0.664);
          box-shadow: 20px 20px 20px rgba(39, 35, 35, 0.664);
}

.section2 {
  margin-bottom: 5rem;
}

.section2 h2 {
  margin-bottom: 5rem;
}

.section2 h3 {
  font-weight: 600;
  margin-bottom: 2rem;
}

.section2 h4 {
  font-weight: 600;
  margin-bottom: 2rem;
}

.section2 p {
  margin-bottom: 4rem;
}

.section2 a {
  color: #e4a199;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.section2 a:hover,
.section2 a:focus {
  color: gray;
}

.section2 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(110px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  grid-gap: 2rem;
}

.section2 ul li {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section2 ul img,
.section2 ul i {
  margin-bottom: 1rem;
}

.section2 ul p {
  font-size: 1.75rem;
}

.section3 {
  margin-bottom: 5rem;
}

.section3 h2 {
  margin-bottom: 5rem;
}

.section3 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section3 form label {
  display: none;
}

.section3 form input[type="text"],
.section3 form input[type="email"],
.section3 form #message {
  border: 0px solid rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid rgba(0, 0, 0, 0.85) !important;
  background-color: #e0e0e0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 6px 12px;
}

.section3 form .nameEmailSubject {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-gap: 1rem;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-bottom: 2rem;
}

.section3 form #message {
  width: 100%;
  margin-bottom: 2rem;
}

.section3 form input[type="submit"] {
  padding: 6px 12px;
  color: #ffffff;
  position: relative;
  border: 0px solid #ffc0cb;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0, 0, 0, 0.85)), color-stop(50%, #ffc0cb));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.85) 50%, #ffc0cb 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-box-shadow: 1px 2px 2px rgba(39, 35, 35, 0.664);
          box-shadow: 1px 2px 2px rgba(39, 35, 35, 0.664);
  border-radius: 0.15em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.section3 form input[type="submit"]:hover,
.section3 form input[type="submit"]:focus {
  background-position: left bottom;
}

.section3 form input[type="submit"]:active {
  top: 1px;
}

.projectDescription a {
  color: #e4a199;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.projectDescription a:hover,
.projectDescription a:focus {
  color: gray;
}

.projectDescription h3 {
  margin: 2rem 0;
  font-weight: 600;
}

.projectDescription p {
  line-height: 1.3;
}

.projectLinks {
  margin-bottom: 5rem;
}

.projectLinks figure {
  margin: 0 auto;
  font-weight: 600;
}

.projectLinks ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem;
}

.projectLinks img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  margin-bottom: 2rem;
}

.projectLinks img:hover,
.projectLinks img:focus {
  -webkit-box-shadow: 20px 20px 20px rgba(39, 35, 35, 0.664);
          box-shadow: 20px 20px 20px rgba(39, 35, 35, 0.664);
}

footer {
  background-color: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  text-align: right;
  padding: 1rem 1rem;
}

footer a {
  color: #ffffff;
  position: relative;
}

footer a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffc0cb;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

footer a:hover:before {
  visibility: visible;
  width: 100%;
}

footer a:focus:before {
  visibility: visible;
  width: 100%;
}

footer li {
  margin-top: 1rem;
}

footer nav {
  display: none;
  display: inline-block;
  padding-bottom: 2rem;
}

footer nav li {
  margin: 0 auto;
}

footer nav li:last-child a {
  margin: 0 auto;
}

footer nav a {
  color: #ffffff;
  font-size: 1.75rem;
  margin: 0 1rem 0 0;
}

.trackerHeader h1 {
  margin: 8rem 0 2rem 0;
}

.trackerHeader img {
  border-radius: 0.5em;
  max-height: 800px;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.85);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.85);
}

@media (max-width: 900px) {
  .headerStuff a {
    width: 40% !important;
  }
}

@media (max-width: 725px) {
  .titleAndPhoto {
    margin-top: 0;
  }
}

@media (max-width: 685px) {
  .headerStuff {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 6rem;
  }
}

@media (max-width: 680px) {
  body {
    text-align: center;
  }
  .mainHeader img {
    left: 0;
  }
  svg {
    left: 0;
  }
  .headerStuff {
    text-align: left;
  }
  .headerStuff a {
    width: 60% !important;
  }
  .projectHeaderStuff {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2 li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 li img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 600px) {
  .photoSVG {
    height: 600px;
  }
}

@media (max-width: 600px) {
  .menuDiv {
    text-align: right;
  }
  .menuDiv i {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.85);
    z-index: 4;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(39, 35, 35, 0.664);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menuDiv i:hover,
  .menuDiv i:focus {
    color: #ffc0cb;
  }
  .menuDiv i:active {
    font-size: 5.2rem;
  }
  .menuButton {
    display: inline-block !important;
  }
  header nav {
    display: none;
  }
  footer nav {
    display: inline-block !important;
  }
}

@media (max-width: 500px) {
  .photoSVG {
    height: 500px;
  }
}

@media (max-width: 400px) {
  .photoSVG {
    height: 450px;
  }
  .projectHeader img {
    max-height: 550px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer {
    text-align: center;
  }
}
